.headerContainer {
    width: 100%;
    border-bottom: .1rem solid #b6ddf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.logo {
    width: 10rem;
}

.links {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}