* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html {
    font-size: 10px;
}

img {
    display: block;
    max-width: 100%;
}

.leaflet-container {
    height: 100vh;
}

