* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #ecf6fa;
}

img {
  display: block;
  max-width: 100%;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.leaflet-container {
  height: 85vh;
  width: 90vw;
}
